.FilterBarContainer{
    display:flex;
    text-decoration: none;
    flex-direction: row;
    justify-content:flex-end;
    border: 2rem black;
    border-radius: 1rem;
    background-color: rgba(153, 153, 153, 0.364);
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-decoration:none;


}

.FilterBarContainer div{

    margin-right: 2rem ;
}

.SearchBar{
    margin-right: 10rem ;
}

input[type=text]{
    font-family:'Poppins', sans-serif;
}

option{
    font-family:'Poppins', sans-serif;
}

